{% extends 'base.html' %}
{% block title %}
         Home Page
{% endblock title %}

{% block 'mainContent' %}

    <h2 class="text-center mt-3 bg-success p-2 text-white">Palav Poshaak</h2> <br>
    <div class="bg-dark p-4 text-white">
        <ol type="I">
            <li><p>Wellcome to my home page flocks</p></li>
            <li><p>Deployment on Apache server</p></li>
            <li><p>Wellcome Full-Stack Develpers</p></li>
            <li><p>Have a great Day ahead</p></li>
        </ol>
        <h4 class="text-center text-white">Created By: Aadil Rashid Najar</h4>
        
    </div>
{% endblock 'mainContent' %}
